/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.jumbotron{
   background: rgba(200, 54, 54, 0);
   color: white;
   text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9;
   text-align: right;
}